<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <img class="user-image" ng-src="/img/pestle-bottle-icon.png">
        <div class="user-name">Pestle and Mortar Cosmetics</div>
        <div class="user-twitter"></div>
      </div>
      <div class="user-background-image" style="background: url(/img/pestle-bottle-icon.png) no-repeat 0 50%"></div>
    </div>s
    <div class="bottom-content">
      <div class="user-bio">
        <h3>Embrace your inner radiance; embrace Pestle and Mortar.
            Treat your body… look your best.</h3>
<p>Pestle & Mortar is an innovative beauty and body wellness company. We were born out of the need for the finest quality, skin enhancing, affordable beauty and health products that are customised to work wonders for your skin. Our philosophy is to provide an easy to apply solution for all skintypes and all ethnicities, which with continued use will create a better sense of wellbeing upon reflection of your revitalised skin.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
